AForge/
Samples/
Test02/
getBuildNum/
Test01/
RazorGDI/
lib/
BmpReader_OCV1/
BMPReader5/
ConsoleApplication1/
ImageDraw/
packages/
BMPReader4/
test03/
Рома1/
BMPReader3~/
BMPReader3 - копия/
ipch/
*.zip
*.pdf
*.rar
*.txt
BMPReader3/AF/
BMPReader3/bin/
BMPReader3/obj/
BPview/bin/
BPview/obj/
BMPReader2/bin/
BMPReader2/obj/
BMPReader/bin/
BMPReader/obj/
*.html
*.*~
*.suo
*.sdf
BMPReader/
BMPReader2/
